#posts {
  position: absolute;
  left: 0;
  width: 50%;
  overflow-y: scroll;
}

#map {
  position: fixed !important;
  height: 100%;
  top: 0;
  right: 0;
  width: 50%;
  
}

#bs-example-navbar-collapse-1 {
  float: left;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

