<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}{% endblock %}</title>
  <script
    src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
  <link href="/static/css/site.css" rel="stylesheet">
</head>
  {% for message in get_flashed_messages() %}
    {{ message }}
  {% endfor %}

<body>
  <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse"
         id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/soup">Back to map</a></li>
        <li><a href="/favorites">Favorites</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if "user_id" in session %}
          <li><a href="/logout">Logout</a></li>
        {% else %}
          <li><a href="/register">Register</a></li>
          <li><a href="/login">Login</a></li>
        {% endif %}

      </ul>
    </div>
    <!-- /.navbar-collapse -->
	<!-- Include the page's content with this block. -->
	
  {% block body %}
	{% endblock %}
	
	<!-- Include any page-specific Javascript using this block. -->
  	{% block js %}
  	{% endblock %}
</body>
</html>
