{% extends 'base.html' %}

{% block title %} Favorites {% endblock %}

{% block body %}

<div id="map"></div>

<div id="favorites">
{% for favorite in favorites %}
	<div id="favorites_{{ favorite['place_id'] }}" class="scroll-post">
		<br><b>{{ favorite['maps_name'] }}</b>
		<br>{{ favorite['formatted_address'] }}
		{% if favorite['website'] != 'None' %}
	  		<br><a href="{{ favorite['website'] }}">{{ favorite['website'] }}</a>
	  	{% endif %}
	  	{% if favorite['phone_number'] != 'None' %}
	  		<br>{{ favorite['phone_number'] }}
		{% endif %}
		<br><b>Rating:</b> {{ favorite['rating'] }}
		{% for hour in favorite['opening_hours'] %}
		<br>{{ hour }}
		{% endfor %}
		<br><button onclick="unfavoritePlace(this.id)" class="is-favorite" id="fav_{{ favorite['place_id'] }}">♥</button>
	</div>
{% endfor %}
</div>

{% endblock %}

{% block js %}
<script async defer src="//platform.instagram.com/en_US/embeds.js"></script>
<script src="/static/js/favorites.js"></script>
<script 
	async defer 
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDim1uSxIM7THdjqlqnGbmjxGSxY7HmUGc&callback=initMap"> 
</script>
{% endblock %}