{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block body %}
<div id="login">
	<form action="/" method="POST">
      <input type="email" id="email" class="fadeIn second" name="email" placeholder="email" required>
      <input type="password" id="password" class="fadeIn third" name="password" placeholder="password" required>
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>
</div>
New user? <a href="/register">Create new account</a>
{% endblock %}
