{% extends 'base.html' %}

{% block title %} InstaEater {% endblock %}

{% block body %}
<h1> Welcome to InstaEater </h1>
Select an Instagram handle to view.
<select name="account" id="account">
	{% for account in accounts %}
	<option value="{{ account }}">{{ account }}</option>
	{% endfor %}
</select>

<div id="posts">
{% for shortcode in shortcodes %}
<div id = {{ shortcode }}>
	<blockquote class="instagram-media">
		<a href="https://instagram.com/p/{{ shortcode }}/"></a>
	</blockquote>
</div>
{% endfor %}
</div>

{% endblock %}

{% block js %}
<script async defer src="//platform.instagram.com/en_US/embeds.js"></script>
<script src="/static/js/soup.js"></script>
{% endblock %}